
/*-----------
    FONT
-----------*/

/* Regular normal */
@font-face {
    font-family:'Agenda';
    src: url(../font/Agenda%20Medium.TTF) format('truetype');
    font-weight:400;
    font-style:normal;
}

/* Regular italic */
@font-face {
    font-family:'Agenda';
    src: url(../font/Agenda%20Medium%20Italic.TTF) format('truetype');
    font-weight:400;
    font-style:italic;
}

/* Regular italic */
@font-face {
    font-family:'Agenda';
    src: url(../font/Agenda%20Bold.TTF) format('truetype');
    font-weight:700;
    font-style:normal;
}
/* Bold italic */
@font-face {
    font-family:'Agenda';
    src: url(../font/Agenda%20Bold.TTF) format('truetype');
    font-weight:700;
    font-style:italic;
}

/* Regular lighy */
@font-face {
    font-family:'Agenda';
    src: url(../font/Agenda%20Light.TTF) format('truetype');
    font-weight:300;
    font-style:normal;
}


/*-----------
   STYLE
-----------*/


/*-----------
    HEADER
-----------*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    /*background: url('../image/header.png');*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*height: 100px;*/
    z-index: 2;
}

header img {
    max-width: 100%;
}

/*-----------
    FOOTER
-----------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

footer img {
    max-width: 100%;
    transform: rotate(180deg);
    position: absolute;
    bottom:0;
}

/*-----------
    HOME
-----------*/

.home {
    font-family: Agenda;
    font-style: normal;
    text-align: center;
    height: 100vh;
    background-color: #222;
    position: relative;
}

.home h1 {
    font-family: Agenda;
    font-size: 144px;
    color: rgba(255, 255, 255, 0.35);
    font-weight: 700;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.home a {
    font-family: Agenda;
    font-size: 30px;
    font-weight: 400;
    color: #f1f1f1;
    text-decoration: none;
    background: url('../image/trace.png') center center no-repeat;
    background-size: contain;
    display: block;
    width: 560px;
    height: 280px;
    line-height: 280px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.home video {
    height: 100vh;
}

@media only screen and (max-width:1024px) {
    .home h1 {
        font-size: 50px;
        color: rgba(255, 255, 255, 0.35);
        font-weight: 700;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    .home a {
        font-family: Agenda;
        font-size: 30px;
        font-weight: 400;
        color: #f1f1f1;
        text-decoration: none;
        background: url('../image/trace.png') center center no-repeat;
        background-size: contain;
        display: block;
        width: 100%;
        max-width: 560px;
        height: 280px;
        line-height: 280px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

}

/*-----------
   INTRO
-----------*/

.intro {
    font-family: Agenda;
    font-style: normal;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    height: 100vh;
    background-color: #222;
    position: relative;
}

.intro video {
    height: 100vh;
    width: 100vw;
}

.intro a {
    font-family: Agenda;
    font-size: 20px;
    font-weight: 400;
    color: #f1f1f1;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/*-----------
    MAP
-----------*/

.modal-info {
    position: absolute;
    background-color: #222222;
    /*background-color: rgba(0,0,0,0.75);*/
    color: #f1f1f1;
    height: 100vh;
    width: 400px;
    z-index: 2;
    overflow: scroll;
    display: none;
}

.modal-info .cross {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.modal-info h4 {
    font-family: Agenda;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 50px;
}

.modal-info p {
    font-family: Agenda;
    font-size: 21px;
    text-align: center;
    font-weight: 300;
    padding: 0 40px;
}

.modal-info a {
    font-family: Agenda;
    font-size: 21px;
    font-weight: 400;
    color: #f1f1f1;
    text-decoration: none;
    background: url('../image/trace.png') center center no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    text-align: center;
    height: 65px;
    line-height: 65px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.intro-map {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #222;
    color: #f1f1f1;
    z-index: 4;
    text-align: center;
}

.intro-map .wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.intro-map h4, .intro-map h5 {
    font-family: Agenda;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.95);
    font-weight: 400;
    line-height: 60px;
}

.intro-map h4 {
    font-size: 44px;
}

.intro-map a {
    font-family: Agenda;
    font-size: 30px;
    font-weight: 400;
    color: #f1f1f1;
    text-decoration: none;
    background: url('../image/trace.png') center center no-repeat;
    background-size: contain;
    display: block;
    width: 560px;
    height: 280px;
    line-height: 280px;
    margin: auto;
}

#map {
    height: 100vh;
}

.gmnoprint {
    display: none;
}

@media only screen and (max-width:1024px) {

    .intro-map a {
        font-family: Agenda;
        font-size: 30px;
        font-weight: 400;
        color: #f1f1f1;
        text-decoration: none;
        background: url('../image/trace.png') center center no-repeat;
        background-size: contain;
        display: block;
        width: 100%;
        max-width: 560px;
        height: 280px;
        line-height: 280px;
        margin: auto;
    }

    .modal-info {
        width: 100%;
    }
}


/*-----------
    STORY
-----------*/

.story {
    font-size: 0;
}

.story .part {
    display: inline-block;
    width: 25%;
    font-family: Agenda;
    font-size: 30px;
    font-weight: 400;
    color: #f1f1f1;
    background-color: #222;
    height: 100vh;
    text-align: center;
    background-size: cover;
    vertical-align: top;
}

.story .part .shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    transition: 0.3s;
    cursor: pointer;
}

.story .part:hover .shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    transition: 0.3s;
}

.story .part img {
    margin-top: 300px;
    margin-bottom: 70px;
}

.story .part h5 {
    padding: 20px;
}

@media only screen and (max-width:1024px) {

}