{% include('/partials/header.twig') %}

<div class="left">
	<video class="video"
	src="{{ app.request.basepath }}/media/intro.mp4"
	></video>
</div>
<div class="right">
	<video class ="video"
	src="{{ app.request.basepath }}/media/test.mp4"
	></video>
</div>

<div >
	<span class=" lside nav fa fa-chevron-left fa-3x" id="left"></span>
</div>
<div >
	<span class=" rside nav fa fa-chevron-right fa-3x" id="left"></span>
</div>
{% include('/partials/footer.twig') %}